:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-transition: 0.3s;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  height: 3px;
  border-radius: 6px;
}

.main-title {
  width: fit-content;
  margin-bottom: 40px;
}

.main-title::before {
  width: 65%;
  background-color: white;
}

.main-title::after {
  width: 25%;
  background-color: black;
}

.sidebar {
  width: 200px;
  box-shadow: 0 0 10px #ddd;
}

.sidebar h3 {
  margin: 0;
}

@media (min-width: 768px) {
  .sidebar h3 {
    margin-bottom: 50px;
  }

  .sidebar h3::before,
  .sidebar h3::after {
    content: "";
    position: absolute;
    left: 50%;
    background-color: black;
  }

  .sidebar h3::before {
    width: 50%;
    height: 2px;
    bottom: -17px;
    transform: translate(-50%);
  }

  .sidebar h3::after {
    width: 12px;
    height: 12px;
    bottom: -15px;
    border: 5px solid white;
    border-radius: 50%;
    transform: translate(-50%, 50%);
  }
}

.sidebar ul li a {
  margin-bottom: 10px;
  transition: background-color var(--main-transition);
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}

.sidebar ul li a span {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .sidebar {
    padding: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sidebar h3 {
    font-size: 16px;
  }

  .sidebar ul li a {
    width: fit-content;
  }
}

.content {
  overflow: hidden;
}

.head .search {
  font-size: 14px;
}

.head .search::before {
  font: var(--fa-font-solid);
  content: "\f002";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--grey-color);
}

.head .search input {
  width: 160px;
  padding-left: 30px;
  border: 1px solid #ccc;
  transition: width 0.3s;
  caret-color: var(--grey-color);
}

.head .search input:focus {
  width: 220px;
}

.head .search input:focus::placeholder {
  color: transparent;
}

.head .icons .notifications {
  font-size: 20px;
}

.head .icons .notifications::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
}

.head .icons img {
  width: 35px;
  margin-left: 15px;
}

.welcome {
  overflow: hidden;
}

.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin: 0px 20px;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin: 0px 10px;
  }
}

@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 60px;
  }
}

.welcome .intro img {
  width: 170px;
  max-width: 100%;
  transform: translateY(15px);
}

.welcome .avatar {
  margin-left: 20px;
  width: 50px;
  max-width: 100%;
  box-shadow: 0px 0px 5px #ddd;
  border: 4px solid white;
  border-radius: 50%;
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .welcome .avatar {
    margin-left: 0px;
  }
}

.welcome .info {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.welcome .info > div {
  flex-grow: 1;
}

@media (max-width: 767px) {
  .welcome .info > div:not(:last-child) {
    margin-bottom: 20px;
  }
}

.welcome .visit {
  margin: 0px 0px 15px auto;
  transition: background-color var(--main-transition);
}

.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}

.quick-draft textarea {
  resize: none;
  height: 200px;
}

.quick-draft .save {
  transition: background 0.3s;
  margin-left: auto;
  cursor: pointer;
}

.quick-draft .save:hover {
  background: var(--blue-alt-color);
}

.targets .targets-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.targets .targets-row .details {
  flex-grow: 1;
}

.targets .targets-row .details .progress {
  height: 6px;
}

.targets .targets-row .details .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.targets .targets-row .details .progress > span span {
  position: absolute;
  right: 0;
  bottom: 20px;
  transform: translateX(50%);
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 12px;
}

.targets .targets-row .details .progress > span span::before {
  content: "";
}

.targets .targets-row .details .progress > span span::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-top-color: var(--blue-color);
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}

.targets .targets-row .details .progress .projects-target span::after {
  border-top-color: var(--orange-color);
}

.targets .targets-row .details .progress .team-target span::after {
  border-top-color: var(--green-color);
}

.targets .money-target .icon,
.targets .money-target .progress {
  background: rgba(0, 117, 255, 20%);
}

.targets .projects-target .icon,
.targets .projects-target .progress {
  background: rgba(245, 158, 11, 20%);
}

.targets .team-target .icon,
.targets .team-target .progress {
  background: rgba(68, 206, 119, 20%);
}

.tickets .details .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}

@media (max-width: 767px) {
  .tickets .details .box {
    width: 100%;
  }
}

.latest-news .news-row:not(:last-of-type) {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.latest-news .news-row img {
  width: 100px;
}

.latest-news .news-row .info {
  flex-grow: 1;
}

@media (max-width: 767px) {
  .latest-news .news-row {
    flex-direction: column;
  }
}

.tasks .tasks-row:not(:last-of-type) {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.tasks .tasks-row .info {
  flex-grow: 1;
}

.tasks .done {
  color: var(--grey-color);
}

.tasks .done h3,
.tasks .done span {
  text-decoration: line-through;
}

.tasks .delete {
  cursor: pointer;
  transition: color var(--main-transition);
}

.tasks .delete:hover {
  color: var(--red-color);
}

.uploads .file img {
  width: 50px;
}

.uploads .file .info {
  flex-grow: 1;
}

.uploads .file:not(:last-of-type) {
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.last-project ul::before {
  content: "";
  position: absolute;
  left: 11px;
  top: 0px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}

.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  z-index: 1;
}

.last-project ul li.done::before {
  background-color: var(--blue-color);
}

.last-project ul li.current::before {
  animation: 0.8s current-step infinite linear alternate-reverse;
}

@keyframes current-step {
  to {
    background-color: var(--blue-color);
  }
}

.last-project .launch-img {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 150px;
  opacity: 0.2;
}

.reminders .key {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.reminders .blue-color {
  border-left: 2px solid var(--blue-color);
}

.reminders .green-color {
  border-left: 2px solid var(--green-color);
}

.reminders .orange-color {
  border-left: 2px solid var(--orange-color);
}

.reminders .red-color {
  border-left: 2px solid var(--red-color);
}

.reminders .key {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.reminders .blue-color {
  border-left: 2px solid var(--blue-color);
}

.reminders .green-color {
  border-left: 2px solid var(--green-color);
}

.reminders .orange-color {
  border-left: 2px solid var(--orange-color);
}

.reminders .red-color {
  border-left: 2px solid var(--red-color);
}

.latest-post .avatar {
  width: 48px;
  height: 48px;
}

.latest-post .post-content {
  text-transform: capitalize;
  line-height: 1.6;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 100px;
}

.social-media .box {
  padding-left: 70px;
}

.social-media .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: var(--main-transition);
}

.social-media .box i:hover {
  transform: rotate(-5deg);
}

.social-media .twitter {
  background-color: rgba(29, 161, 242, 30%);
  color: #1da1f2;
}

.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}

.social-media .facebook {
  background-color: rgba(24, 119, 242, 30%);
  color: #1877f2;
}

.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}

.social-media .youtube {
  background-color: rgba(255, 0, 0, 30%);
  color: #ff0000;
}

.social-media .youtube i,
.social-media .youtube a {
  background-color: #ff0000;
}

.social-media .linkedin {
  background-color: rgba(0, 119, 181, 30%);
  color: #0a66c2;
}

.social-media .linkedin i,
.social-media .linkedin a {
  background-color: #0a66c2;
}

.projects .responsive-table {
  overflow-x: auto;
}

.projects table {
  min-width: 1000px;
  border-spacing: 0;
}

.projects table th {
  background-color: #eee;
}

.projects table th,
.projects table td {
  padding: 15px;
}

.projects table td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: background-color var(--main-transition);
}

.projects table tr:hover td {
  background-color: #f7f7f7;
}

.projects table td:last-of-type {
  border-right: 1px solid #eee;
}

.projects table img {
  width: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}

.projects table img:not(:first-child) {
  margin-left: -20px;
}
